* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f4f6f9;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  background: white;
  position: relative;
  overflow-x: hidden;
}

/*Card styling*/
.card {
  background: #f1f4f9;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.card:hover {
  background: #e0e6f0;
}